<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManagerFaktur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ManagerFaktur.Properties.Settings>
            <setting name="XmlConfig" serializeAs="String">
                <value>D:\Dane\Dysk Google\Faktury\settings.xml</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>D:\Dane\Dysk Google\Faktury\log.xml</value>
            </setting>
        </ManagerFaktur.Properties.Settings>
    </userSettings>
</configuration>